table{
    width:600px;
    border-collapse: collapse;
}
td{
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black;
}
tr{
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black;
}
